<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <% include ./partials/header.ejs %>
    <%=competition.title%>
    Description: <%=competition.description%><br>
    Minimum: <%=competition.bet_min%>
    pool: <%=competition.pool%>

    Participants:
    <%for(let i = 0; i < participants.length; i++){%>
      <%=participants[i].username%>
    <%}%>
    <br>

    Comments:
    <%for(let i = 0; i < comments.length; i++){%>
      <%=comments[i].username%>
      <%=comments[i].content%>
    <%}%>

    <%if(user){%>
      <form action = '/competitions/<%=competition.id%>/comment' method = 'POST'>
        <div class='input-field'>
          <textarea class='materialize-textarea' name='content'></textarea>
          <button type='submit'>Submit Comment</button>
        </div>
      </form>
    <%}%>

  </body>
</html>
