<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <% include ./partials/header.ejs %>
    <%if(user.username===competition.arbiter_name){%>
      You are currently the arbiter of this competition. You may select a new arbiter below:
      <br>
      <form action = '/competitions/<%=competition.id%>/arbiter' method='post'>
        <input type="text" name="arbiter" list="usernames">
        <datalist id="usernames">
          <%for(let i = 0; i < users.length; i++){%>
            <option value = '<%=users[i].username%>'>
          <%}%>
        </datalist>
        <button>Submit</button>
      </form>
      <a href = '/competitions/<%=competition.id%>/complete'>Mark Complete</a>
    <%}%>
    <%=competition.title%>
    Started: <%=competition.created_at%>
    Description: <%=competition.description%><br>
    Minimum: <%=competition.bet_min%>
    pool: <%=competition.pool%><br>
    Arbiter: <%=competition.arbiter_name%>
    Participants:
    <%for(let i = 0; i < participants.length; i++){%>
      <%=participants[i].username%>
    <%}%>
    <br>

    Comments:
    <%for(let i = 0; i < comments.length; i++){%>
      <%=comments[i].username%>
      <%=comments[i].content%>
    <%}%>

    <%if(user){%>
      <a href='/competitions/<%=competition.id%>/join'>Join Competition</a>
      <form action = '/competitions/<%=competition.id%>/comment' method = 'POST'>
        <div class='input-field'>
          <textarea class='materialize-textarea' name='content'></textarea>
          <button type='submit'>Submit Comment</button>
        </div>
      </form>
    <%}%>

  </body>
</html>
