<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%include ./partials/head.ejs%>
    <link rel='stylesheet' href='../profile.css' />
    <link rel = 'stylesheet' href = '../main.css' />
  </head>
  <body class = 'grey lighten-4'>
    <main>
    <%include ./partials/header.ejs%>
    <div class ='container '>
      <div class = 'row'>
        <div class = 'col s12'>
          <div class='card'>
            <div class = 'card-content'>
              <div class = 'card-title'>
                <%=user.username%>
                <div class='divider'></div>
              </div>
              Funds: <%=user.money%>
              <div class="row">
                <div class="col s12">
                  <ul class="tabs" id='profile_tabs'>
                    <li class="tab col s3">
                      <a class="active" href="#ongoing">Ongoing</a>
                    </li>
                    <li class="tab col s3">
                      <a href="#won">Won</a>
                    </li>
                    <li class="tab col s3">
                      <a href="#lost">Lost</a>
                    </li>
                  </ul>
                </div>
                <div id="ongoing" class="col s12">
                  <%for(let i = 0; i < ongoing.length;i++){%>
                    <h6><a href='/competitions/<%=ongoing[i].id%>'><%=ongoing[i].title%></a></h6>
                    <%if(i < ongoing.length-1){%>
                      <div class='divider'></div>
                    <%}%>
                  <%}%>
                </div>
                <div id="won" class="col s12">
                  <%for(let i = 0; i < wins.length; i++){%>
                    <div>
                      <%if(!wins[i].isClaimed){%>
                        <a class = ' btn-small orange right' href='/competitions/<%=wins[i].id%>/claim'>
                          Claim
                        </a>
                      <%}%>
                      <h6><a href='/competitions/<%=wins[i].id%>'><%=wins[i].title%></a></h6> ended: <%=wins[i].updated_at%>
                      <%if(i < wins.length-1){%>
                        <div class='divider'></div>
                      <%}%>
                    </div>
                  <%}%>
                </div>
                <div id="lost" class="col s12">
                  <%for(let i = 0; i < losses.length; i++){%>
                    <div>
                      <h6><a href='/competitions/<%=losses[i].id%>'><%=losses[i].title%></a></h6> ended: <%=losses[i].updated_at%>
                      <%if(i < losses.length-1){%>
                        <div class='divider'></div>
                      <%}%>
                    </div>
                  <%}%>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src ='materializeInit.js'></script>
  </main>
  <% include ./partials/footer.ejs%>
  </body>
</html>
